* {padding:0;margin:0;font-family:sans-serif;font-weight:bold;}	
div {padding:35px 5px;text-align:left;display:inline-block;}
p {font-size:12px;padding:6px 2px;margin:0 auto;width:20px;-moz-border-radius:15px;border-radius:15px;color:#fff}
#tree-container{padding:0;}
#controls {display:block;}
.status-0 {background-color: #aaa;}
.status-1 {background-color: #55C876;}
.status-2 {background-color: #c55;}
canvas{clear: both;display: block;}
